*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #7F27FF;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.robotica-imagem {
    width: 25%;
}

.robotica {
    background-image: linear-gradient(#7F27FF, #9F70FD);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.robotica-div-conteudo{
    width: 35%;
}
/*Segunda seção do meu código estilização*/
body {
    font-family: 'Poppins', sans-serif;
    }
    .escola-titulo{
    padding: 24px 0;
    }
    #profissao{
    padding: 24px 0;
    }
    
    .profissao-imagem{
    width: 120px;
    }
    .profissao-icone{
    width: 24px;
    padding: 4px 8px;
    }
    .profissao-div{
    text-align: center;
    padding: 16px 0;
    }
    .profissao-titulo{
    text-align: center;
    padding: 50px 0;
    }
    .profissao-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .rodape{
        background-color: black;
        text-align: center;
        color: white;
        font-size: 25px;
        }
        @media (max-width:600px){
            .Profissão:fles;
            flex-dorection:colomn;
            align-itens:centes;
     }
     .Profissão-divi{
        width:100%;
        max-width:300px;
        margin:10px0;
     }
     .Profissão-divi:nth-of-type(1){

     }
     (max-width:768px){
        .Profissão-todos{
            grid-temploate-columns:1fr 1fr;
            gap:20px;
        }
     }